/* стили для всей страницы */

body {
    margin: 0;
	padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
	line-height: 22px;
	color: #000000;
	min-width: 940px;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn-small {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.btn-small:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-small:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-big {
    display: block;
    margin: 0;
    font-size: 31px;
    line-height: 41px;
    font-weight: bold;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-big:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-big:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* стили для [хедера] */

.header-top {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    margin-top: 9px;
    height: 64px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 696px;
    margin-top: 21px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.site-navigation > li {
    position: relative;
}

.site-navigation > li > a {
    color: #ffffff;
    text-decoration: underline;
    display: block;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 50px;
}

.site-navigation > li > a:hover {
    background-color: #f7f6f3;
    color: #000000;
    text-decoration: none;
}

.site-navigation > li > a:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0 2px 2px #5a5a5a;
    color: #000000;
}

.site-navigation > li:hover .catalog-menu{
    display: block;
}

.site-navigation li li a {
    color: #000000;
    display: block;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
}

.site-navigation li li a:hover {
    background-color: #fbded8;
}

.site-navigation li li a:active {
    background-color: #f6b5a5;
}

.catalog-menu li:first-child {
    font-weight: bold;
    border-bottom: 1px solid #d1d0ce;
}

.site-navigation .catalog-menu {
    position: absolute;
    top: 40px;
    display: none;
    width: 143px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 10;
}

.user-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 2px;
}

.search-link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 7px;
    padding-top: 7px;
}

.search-link:hover {
    background-color: #ffffff;
}

.search-link:hover path {
    fill: #000000;
}

.login-link {
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-left: 9px;
}

.login-link svg {
    position: absolute;
    left: 17px;
    top: 6px;
}

.login-link path {
    fill: #ffffff;
}

.login-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.login-link:hover path {
    fill: #000000;
}

.cart-link-empty {
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-left: 9px;
}

.cart-link-empty svg {
    position: absolute;
    left: 16px;
    top: 6px;
}

.cart-link-empty path {
    fill: #ffffff;
}

.cart-link-empty:hover {
    background-color: #ffffff;
    color: #000000;
}

.cart-link-empty:hover path,
.cart-link-empty:hover circle {
    fill: #000000;
}

.work-time {
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-top: -1px;
    margin-left: 709px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.tel {
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 693px;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}

/* стили для слайдера */

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/promo-slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-item a {
    width: 280px;
    margin: 0;
    margin-left: 289px;
}

.promo-products {
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-top: 276px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 22px;
    z-index: 20;
    font-size: 0;
}


.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo-slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo-slider-3.png");
}

/* стили для блока Promotions */

.promotions {
    margin-top: 42px;
}

.promotions ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promotions-jam {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-raspberry.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-jam h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 100px;
    padding-top: 16px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-jam p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-jam a {
    width: 165px;
    margin-left: 234px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

.promotions-chocolate {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-chocolate.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-chocolate h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-chocolate p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-chocolate a {
    width: 190px;
    margin-left: 210px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

/* стили для блока popular-catalog */

.popular-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.popular-catalog-item {
    position: relative;
    width: 200px;
    padding-top: 9px;
    border-radius: 5px;
}

.popular-catalog-item:hover a {
    display: block;
}

.popular-catalog-item:hover {
    min-height: 366px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.flag-hit {
    font-size: 0;
    background: url(../img/svg/hit.svg) no-repeat;
    position: absolute;
    width: 61px;
    height: 61px;
    top: 9px;
    left: 0px;
}

.popular-catalog-item img{
    border-radius: 50%;
}

.popular-catalog-price {
    position: absolute;
    width: 81px;
    height: 36px;
    top: 149px;
    left: 0px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-price::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 37px;
    left: 81px;
    top: 5px;
    background-image: url(../img/svg/ruble.svg);
}

.popular-catalog-unit {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 154px;
    left: 111px;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-item h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 7px;
    text-align: center;
    min-height: 88px;
}

.popular-catalog-item a {
    display: none;
    width: 194px;
    padding-left: 14px;
    padding-right: 10px;
    margin-left: 3px;
}

/* стили для блока advantages */

.advantages {
    background-image: url(../img/waffle.jpg);
    margin-top: 15px;
    border-radius: 15px;
}

.advantages h2 {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    padding-left: 19px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.advantages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 13px;
}

.advantages-item {
    width: 420px;
    margin: 0;
    padding: 0;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
}

.advantages-item p {
    margin: 0;
    padding-left: 76px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 1px;
}

.advantages-item:nth-child(1)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/ice-cream.svg")
}

.advantages-item:nth-child(2)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/cow.svg")
}

.advantages-item:nth-child(3)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/eco.svg")
}

.advantages-item:nth-child(4)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/thermometer.svg")
}

/* стили для блога и подписки */

.blog-subscription-wrapper {
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
}

/* стили для блога*/

.blog {
    width: 420px;
    background: url(../img/background-strawbery.jpg);
    padding-left: 19px;
    padding-top: 24px;
    padding-right: 19px;
    padding-bottom: 24px;
    border-radius: 15px;
}

.blog h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #5a5a5a;
}

.blog a {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    padding-top: 5px;
    padding-right: 47px;
    padding-bottom: 55px;
}

.blog mark {
    background-color: rgba(255, 255, 255, 0.8);
}

/* стили для подписок*/

.subscription {
    width: 420px;
    background: #f8f7f4;
    padding-left: 21px;
    padding-top: 13px;
    padding-right: 19px;
    padding-bottom: 0px;
    border: 5px solid transparent;
    border-image-source: url(../img/svg/bg-post.svg);
    border-image-slice: 5;
    border-radius: 17px;
}

.subscription p {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin-bottom: 13px;
}

.subscription-form input {
    width: 228px;
    padding: 9px 13px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
}

.subscription-form input::-webkit-input-placeholder {
    color: #999999;
}

.subscription-form input:hover {
    border: 2px solid #c7c6c5;
    padding-left: 12px;
}

.subscription-form input:focus {
    border: 2px solid #8fbdec;
    outline: none;
}

.subscription-form button {
    margin-left: 6px;
    padding: 10px 19px;
    box-shadow: none;
}

/* стили для контактов и карты */

.contacts {
    margin-top: 40px;
    padding-top: 63px;
    padding-bottom: 62px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.address-wrapper {
    width: 302px;
    background-color: #ffffff;
    margin-left: 558px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.address-wrapper .address-title {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-top: 28px;
    padding-right: 120px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
}

.address-wrapper .address {
    margin: 0;
    padding: 2px 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.address-wrapper .phone-title {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 105px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
}

.address-wrapper .phone {
    margin: 0;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.address-wrapper p {
    margin: 0;
    padding: 0px 25px;
    font-size: 14px;
    line-height: 22px;
}

.address-wrapper a {
    margin-left: 24px;
    margin-top: 24px;
    padding-left: 29px;
    padding-right: 27px;
    margin-bottom: 11px;
}

/* стили для футера */

.main-footer {
    display: flex;
    margin-top: 10px;
    padding-bottom: 20px;
}

/* стили для соцкнопок */

.footer-social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 26px;
}

.btn-social {
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 50px;
    margin-right: 11px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.btn-social:hover {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.btn-social:active {
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.btn-social-tw {
    background-image: url(../img/svg/twitter.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.btn-social-insta {
    background-image: url(../img/svg/instagram.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.btn-social-fb {
    background-image: url(../img/svg/fb.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.btn-social-vk {
    background-image: url(../img/svg/vk.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

/* стили для о нас */

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 462px;
    height: 64px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 83px;
    padding-top: 20px;
}

.about-us li {
    min-width: 120px;
    margin: 0;
    margin-right: 22px;
    padding: 0;
}

.about-us a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: underline;
}

li.favorite {
    font-weight: bold;
    position: relative;
}

li.favorite::before {
    content: "";
    width: 15px;
    height: 13px;
    position: absolute;
    background-image: url(../img/svg/heart.svg);
    top: 6px;
    left: -22px;
}

.about-us a:hover,
.about-us a:active {
    color: #ffbc9e;
}

/* стили для создателей */

.footer-developed {
    margin-top: 9px;
    margin-left: 15px;
}

.footer-developed p {
    margin: 0;
    margin-left: -3px;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.footer-developed a {
    text-decoration: underline;
    color: #ffffff;
}

.footer-developed a:hover,
.footer-developed a:active {
    color: #ffbc9e;
}

/*|||||||||| стили для страницы каталога ||||||||||||||*/

.body-catalog {
    background-color: #849d8f;
    background-image: url(../img/background-light.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.body-catalog main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*|||||| стили для страницы каталога ХЕДЕР ||||||*/

.cart-link-full {
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: #ffffff;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    margin-left: 9px;
}

.cart-link-full svg {
    position: absolute;
    left: 16px;
    top: 6px;
}

.cart-link-full:hover {

}

.site-navigation .active-page {
    background-color: #d07058;
    color: #ffffff;
    text-decoration: none;
}

/*|||||| стили для страницы каталога Main||||||*/

.bread-crumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    margin-top: -19px;
    margin-bottom: 5px;
}

.bread-crumbs a {
    color: #ffffff;
    text-decoration: underline;
}

.bread-crumbs a:hover {
    color: #ffbc9e;
}

.bread-crumbs li {
    position: relative;
    padding-right: 21px;
}

.icon-right::after {
    content: "»";
    position: absolute;
    margin-left: 7px;
}

.catalog-title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 35px;
    line-height: 41px;
}

/*|||||| стили для страницы каталога Фильтр ||||||*/

.catalog-form {
    margin-top: 10px;
}

.catalog-form .catalog-form-top {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

.catalog-form-item {
    margin-right: 13px;
}

.catalog-form-item p {
    margin: 0;
    margin-left: 16px;
    margin-top: 15px;
    margin-bottom: 6px;
}

.catalog-form-item select {
    background-color: rgba(255, 255, 255, 0.2);
    width: 194px;
    border-radius: 30px;
    -webkit-appearance: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 9px 14px;
    border: none;
}

.catalog-form-item .range-filter {
    background-color: rgba(255, 255, 255, 0.2);
    width: 220px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 16px 14px;
    border: none;
}

.range-controls {
	position: relative;
}

.range-controls .scale {
    margin-left: 10px;
    width: 175px;
	height: 4px;
	background: #cbd4cd;
}

.range-controls .bar {
    margin-left: 20px;
	width: 60%;
	height: 4px;
	background: #f8f7f4;
}

.range-controls .toggle {
	position: absolute;
	top: -8px;
	left: 0;
	width: 20px;
	height: 23px;
	padding: 0;
	background-image: url(../img/svg/filter-button.svg);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 22px;
}

.range-controls .toggle-max {
	left: 120px;
}

.radio-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    width: 415px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 9px 14px;
    padding-left: 48px;
    border: none;
}

.filter-option {
	position: relative;
}

.filter-radio input[type="radio"] + .radio-indicator {
	position: absolute;
	width: 22px;
	height: 22px;
	top: -2px;
	left: -30px;
	background-image: url(../img/svg/radio-off.svg);
    background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.filter-radio input[type="radio"]:hover + .radio-indicator,
.filter-radio input[type="radio"]:focus + .radio-indicator {
	opacity: 1;
}

.filter-radio input[type="radio"]:checked + .radio-indicator::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	background-image: url(../img/svg/radio-on.svg);
	background-repeat: no-repeat;
    background-size: 100%;
	opacity: 0.8;
}

.filter-radio input[type="radio"]:checked:hover + .radio-indicator::after {
	opacity: 1;
}

.filter-radio input[type="radio"]:disabled + .radio-indicator {
	opacity: 0.4;
}

.catalog-form .catalog-form-bottom {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    margin-top: 1px;
}

.checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    width: 703px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 19px;
    padding-left: 48px;
    border: none;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -2px;
	left: -34px;
	background-image: url(../img//svg/checkbox-off.svg);
	background-repeat: no-repeat;
    background-size: 100%;
	opacity: 0.8;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	opacity: 1;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 20px;
	background-image: url(../img/svg/checkbox-on.svg);
    background-size: 100%;
	background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.4;
}

.catalog-form-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 14px;
    border: 2px solid #fbfcfb;
    height: 35px;
    margin: 36px 1px;
    width: 142px;
}

/*|||||| стили для страницы каталога icecream-catalog ||||||*/


.icecream-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -4px;
}

.icecream-catalog-item {
    position: relative;
    width: 200px;
    padding-top: 12px;
    border-radius: 5px;
}

.icecream-catalog-item:hover a {
    display: block;
}

.icecream-catalog-item:hover {
    min-height: 366px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}



.icecream-catalog-item img{
    border-radius: 50%;
}

.icecream-catalog-price {
    position: absolute;
    width: 81px;
    height: 36px;
    top: 149px;
    left: 0px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream-catalog-price::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 37px;
    left: 81px;
    top: 5px;
    background-image: url(../img/svg/ruble.svg);
}

.icecream-catalog-unit {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 154px;
    left: 111px;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream-catalog-item h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 7px;
    text-align: center;
    min-height: 88px;
}

.icecream-catalog-item a {
    display: none;
    width: 194px;
    padding-left: 14px;
    padding-right: 10px;
    margin-left: 3px;
}

/*|||||| стили для страницы каталога pagination |||||*/

.pagination-list {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    margin-top: 39px;
    margin-bottom: 30px;
}

.pagination-item {
    border-radius: 50%;
    margin-left: 3px;
    width: 26px;
    height: 26px;

}

.pagination-item a {
    display: block;
    color: #ffffff;
    padding-top: 3px;
    padding-left: 8px;
}

.pagination-item:hover {
    background-color: #ffffff;
}

.pagination-item:hover a {
    color: #000000;
}

.pagination-item-current {
    background-color: #ffffff;
}

.pagination-item-current a {
    color: #000000;
}

.pagination-item-back {
    transform: rotate(180deg);
    padding: 2px 14px;
}

.pagination-item-back path {
    fill: rgba(255, 255, 255, 0.2);
}

.pagination-item-next {
    padding-top: 3px;
    padding-left: 16px;
}

.pagination-item-next path {
    fill: rgba(255, 255, 255, 1.0);
}


    /* стили для модолок */

.modal {
    position: fixed;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

/* стили для модолок войти */

.modal-login {
    display: ;
    top: 59px;
    left: 52%;
    width: 277px;
    background-color: #f8f7f4;
    border-radius: 6px;
}

.login-form {
    padding-left: 19px;
    padding-top: 20px;
    padding-right: 1px;
    padding-bottom: 20px;
}

.login-form input {
    width: 240px;
    padding: 9px 12px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

.login-form input::-webkit-input-placeholder {
    color: #999999;
}

.login-form input:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 11px;
}

.login-form input:focus {
    border: 2px solid #8fbdec;
    outline: none;
}

.login-form .a-area {
    display: flex;
    flex-direction: row;
}

.a-area > a {
    display: block;
    padding: 10px 24px;
    margin-right: 20px;
    border-radius: 19px;
}

.user-link-area {
    display: flex;
    flex-direction: column;
}

.user-link-area a {
    padding-top: 4px;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
}

.user-link-area a:hover {
    color: #ffbc9e;
}

/* стили для модолок войти */

.modal-search {
    display: none;
    top: 59px;
    left: 50%;
    width: 342px;
    background-color: #f8f7f4;
    border-radius: 6px;
    margin-left: -141px;
}

.search-form {
    padding-left: 17px;
    padding-top: 20px;
    padding-right: 1px;
}

.search-form input {
    width: 310px;
    padding: 9px 12px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

.search-form input::-webkit-input-placeholder {
    color: #999999;
}

.search-form input:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 11px;
}

.search-form input:focus {
    border: 2px solid #8fbdec;
    outline: none;
}
