/* стили для всей страницы */

body {
    margin: 0;
	padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
	line-height: 22px;
	color: #000000;
	min-width: 940px;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn-small {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.btn-small:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-small:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-big {
    display: block;
    margin: 0;
    font-size: 31px;
    line-height: 41px;
    font-weight: bold;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-big:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-big:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* стили для [хедера] */

.header-top {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    margin-top: 9px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 696px;
    margin-top: 21px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.site-navigation a {
    color: #ffffff;
    text-decoration: underline;
    display: block;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 50px;
}

.site-navigation a:hover {
    background-color: #f7f6f3;
    color: #000000;
}

.site-navigation a:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0 2px 2px #5a5a5a;
    color: #000000;
}

.user-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 2px;
}

.search-link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 7px;
    padding-top: 7px;
}

.search-link:hover {
    background-color: #ffffff;
}

.search-link:hover path {
    fill: #000000;
}

.login-link {
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-left: 9px;
}

.login-link svg {
    position: absolute;
    left: 17px;
    top: 6px;
}

.login-link path {
    fill: #ffffff;
}

.login-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.login-link:hover path {
    fill: #000000;
}

.cart-link {
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-left: 9px;
}

.cart-link svg {
    position: absolute;
    left: 16px;
    top: 6px;
}

.cart-link path {
    fill: #ffffff;
}

.cart-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.cart-link:hover path,
.cart-link:hover circle {
    fill: #000000;
}

.work-time {
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-top: -1px;
    margin-left: 709px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.tel {
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 693px;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}

/* стили для слайдера */

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/promo-slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-item a {
    width: 280px;
    margin: 0;
    margin-left: 289px;
}

.promo-products {
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-top: 276px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 22px;
    z-index: 20;
    font-size: 0;
}


.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo-slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo-slider-3.png");
}

/* стили для блока Promotions */

.promotions {
    margin-top: 42px;
}

.promotions ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promotions-jam {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-raspberry.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-jam h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 100px;
    padding-top: 16px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-jam p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-jam a {
    width: 165px;
    margin-left: 234px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

.promotions-chocolate {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-chocolate.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-chocolate h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-chocolate p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-chocolate a {
    width: 190px;
    margin-left: 210px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

/* стили для блока popular-catalog */

.popular-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.popular-catalog-item {
    position: relative;
    width: 200px;
    padding-top: 9px;
    border-radius: 5px;
}

.popular-catalog-item:hover a {
    display: block;
}

.popular-catalog-item:hover {
    min-height: 366px;
    background-color: rgba(255, 255, 255, 0.2);
}

.flag-hit {
    font-size: 0;
    background: url(../img/svg/hit.svg) no-repeat;
    position: absolute;
    width: 61px;
    height: 61px;
    top: 9px;
    left: 0px;
}

.popular-catalog-item img{
    border-radius: 50%;
}

.popular-catalog-price {
    position: absolute;
    width: 81px;
    height: 36px;
    top: 149px;
    left: 0px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-price::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 37px;
    left: 81px;
    top: 5px;
    background-image: url(../img/svg/ruble.svg);
}

.popular-catalog-unit {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 154px;
    left: 111px;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-item h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 7px;
    text-align: center;
    min-height: 88px;
}

.popular-catalog-item a {
    display: none;
    width: 194px;
    padding-left: 14px;
    padding-right: 10px;
    margin-left: 3px;
}

/* стили для блока advantages */

.advantages {
    background-image: url(../img/waffle.jpg);
    margin-top: 15px;
    border-radius: 15px;
}

.advantages h2 {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    padding-left: 19px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.advantages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 13px;
}

.advantages-item {
    width: 420px;
    margin: 0;
    padding: 0;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
}

.advantages-item p {
    margin: 0;
    padding-left: 76px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 1px;
}

.advantages-item:nth-child(1)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/ice-cream.svg")
}

.advantages-item:nth-child(2)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/cow.svg")
}

.advantages-item:nth-child(3)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/eco.svg")
}

.advantages-item:nth-child(4)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/thermometer.svg")
}

/* стили для блога и подписки */

.blog-subscription-wrapper {
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
}

/* стили для блога*/

.blog {
    width: 420px;
    background: url(../img/background-strawbery.jpg);
    padding-left: 19px;
    padding-top: 24px;
    padding-right: 19px;
    padding-bottom: 24px;
    border-radius: 15px;
}

.blog h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #5a5a5a;
}

.blog a {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    padding-top: 5px;
    padding-right: 47px;
    padding-bottom: 55px;
}

.blog mark {
    background-color: rgba(255, 255, 255, 0.8);
}

/* стили для подписок*/

.subscription {
    width: 420px;
    background: #f8f7f4;
    padding-left: 21px;
    padding-top: 13px;
    padding-right: 19px;
    padding-bottom: 0px;
    border: 5px solid transparent;
    border-image-source: url(../img/svg/bg-post.svg);
    border-image-slice: 5;
    border-radius: 17px;
}

.subscription p {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin-bottom: 13px;
}

.subscription-form input {
    width: 228px;
    padding: 9px 13px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
}

input::-webkit-input-placeholder {
    color: #999999;
}

.subscription-form button {
    margin-left: 6px;
    padding: 10px 19px;
    box-shadow: none;
}

/* стили для контактов и карты */

.contacts {
    margin-top: 40px;
    padding-top: 63px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.address-wrapper {
    width: 302px;
    background-color: #ffffff;
    margin-left: 558px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.address-wrapper h3 {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-top: 28px;
    padding-right: 105px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
}

.address-wrapper p {
    margin: 0;
    padding: 3px 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
