/* стили для всей страницы */

body {
    margin: 0;
	padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
	line-height: 22px;
	color: #000000;
	min-width: 900px;
    background-color: #849d8f;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn-small {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-small:hover {
    background: #f17d65;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn-small:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

}

/* стили для блока Promotions */

.promotions ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promotions-jam {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-raspberry.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-jam h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 100px;
    padding-top: 16px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-jam p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-jam a {
    width: 165px;
    margin-left: 234px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

.promotions-chocolate {
    width: 420px;
    color: #ffffff;
    background-image: url(../img/background-chocolate.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-chocolate h3 {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    font-size: 35px;
    line-height: 41px;
}

.promotions-chocolate p {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promotions-chocolate a {
    width: 190px;
    margin-left: 210px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 22px;
}

/* стили для блока popular-catalog */

.popular-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.popular-catalog-item {
    position: relative;
    width: 200px;
    padding-top: 9px;
    border-radius: 5px;
}

.popular-catalog-item:hover a {
    display: block;
}

.popular-catalog-item:hover {
    min-height: 366px;
    background-color: rgba(255, 255, 255, 0.2);
}

.flag-hit {
    font-size: 0;
    background: url(../img/svg/hit.svg) no-repeat;
    position: absolute;
    width: 61px;
    height: 61px;
    top: 9px;
    left: 0px;
}

.popular-catalog-item img{
    border-radius: 50%;
}

.popular-catalog-price {
    position: absolute;
    width: 81px;
    height: 36px;
    top: 149px;
    left: 0px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-price::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 37px;
    left: 81px;
    top: 5px;
    background-image: url(../img/svg/ruble.svg);
}

.popular-catalog-unit {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 154px;
    left: 111px;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-catalog-item h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 7px;
    text-align: center;
    min-height: 88px;
}

.popular-catalog-item a {
    display: none;
    width: 194px;
    padding-left: 14px;
    padding-right: 10px;
    margin-left: 3px;
}

/* стили для блока advantages */

.advantages {
    background-image: url(../img/waffle.jpg);
    margin-top: 15px;
    border-radius: 15px;
}

.advantages h2 {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    padding-left: 19px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.advantages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 13px;
}

.advantages-item {
    width: 420px;
    margin: 0;
    padding: 0;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
}

.advantages-item p {
    margin: 0;
    padding-left: 76px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 1px;
}

.advantages-item:nth-child(1)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/ice-cream.svg")
}

.advantages-item:nth-child(2)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: -2px;
    position: absolute;
    background: url("../img/svg/cow.svg")
}

.advantages-item:nth-child(3)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 20px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/eco.svg")
}

.advantages-item:nth-child(4)::before {
    content: "";
    width: 49px;
    height: 49px;
    left: 439px;
    top: 131px;
    position: absolute;
    background: url("../img/svg/thermometer.svg")
}
